
EersteProjectMau/.vs/EersteProjectMau/v16/Server/sqlite3/db.lock
EersteProjectMau/.vs/EersteProjectMau/v16/Server/sqlite3/storage.ide-shm
EersteProjectMau/.vs/EersteProjectMau/v16/Server/sqlite3/storage.ide-wal
EersteProjectMau/EersteProjectMau/obj/Debug/DesignTimeResolveAssemblyReferences.cache
EersteProjectMau/EersteProjectMau/obj/Debug/EersteProjectMau.csproj.GenerateResource.cache
EersteProjectMau/EersteProjectMau/obj/Debug/EersteProjectMau.csprojAssemblyReference.cache
EersteProjectMau/.vs/EersteProjectMau/v16/.suo
EersteProjectMau/EersteProjectMau/obj/Debug/DesignTimeResolveAssemblyReferences.cache
EersteProjectMau/EersteProjectMau/obj/Debug/EersteProjectMau.csproj.GenerateResource.cache
EersteProjectMau/.vs/EersteProjectMau/v16/.suo
EersteProjectMau/EersteProjectMau/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
